
html {
    font-family: Helvetica, sans-serif;
}

@font-face {
    font-family: "Overpass";
    src: url("overpass-regular.woff") format('woff');
}

h1, h2, h3, h4, h5, h6, .button-primary, .button {
    font-family: "Overpass", Helvetica;
}

